.Desktop {
  background-image: url("../Assets/sungrid.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
  z-index: 0;
  color: white;
}

.Desktop * {
  z-index: 1;
}

#name {
  z-index: 0;
  width: auto;
  height: auto;
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
	animation-name: neon-pink;
	animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.first {
	animation-name: neon-pink;
	animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.last {
	animation-name: neon-blue;
	animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes neon-pink {
  0% {
    filter: 
      drop-shadow(0px 0px 1px #fff)
      drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #ff80b3)
      drop-shadow(0px 0px 30px #ff4d94)
      drop-shadow(0px 0px 50px #ff0066);
  }

  100% {
    filter: 
      drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #ff80b3)
      drop-shadow(0px 0px 40px #ff4d94)
      drop-shadow(0px 0px 60px #ff0066); 
  }
}

@keyframes neon-blue {
  0% {
    filter: 
      drop-shadow(0px 0px 1px #fff)
      drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #00cfff)
      drop-shadow(0px 0px 30px #00bfff)
      drop-shadow(0px 0px 50px #00afff);
  }

  100% {
    filter: 
      drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #00cfff)
      drop-shadow(0px 0px 40px #00bfff)
      drop-shadow(0px 0px 60px #00afff); 
  }
}

a {
  position: absolute; 
  display: inline-block; 
  padding-bottom: 4px;
  top: 0.5em; 
  right: 0.5em;
  color: #fff; 
  text-decoration: none;
  border-bottom: 1px solid #fff; 
  font-family: monospace; 
  letter-spacing: 1px;
  transition: color 0.2s ease-out, border-color 0.2s ease-out; 
}

a:hover {
  color: #ff80b3; 
  border-bottom: 1px solid #ff80b3;
}
